<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<section class="pt-4">
	<div class="dasboardHeader" th:text="'Welcome,' +' '+ ${user.name}+' '+'to your private dasboard'"></div>
	<div class=" gap-2 dashboard mt-5">

		
				<a th:href="@{/}"><button type="button"
						class="btn btn-dark btn-lg dashboardbtn">Home</button></a>
			
				<a th:href="@{/user/show-tickets}"><button type="button"
						class="btn btn-dark btn-lg dashboardbtn">View Tickets</button></a>
			
				<a th:href="@{/user/add-ticket}"><button type="button"
						class="btn btn-dark btn-lg dashboardbtn">Generate Tickets</button></a>
						
				<a th:href="@{/logout}"><button type="button"
						class="btn btn-dark btn-lg dashboardbtn">Logout</button></a>
	
		</div>
	</section>
</body>
</html>